html, body{
    height: 100%;
    font-size: 1.1cm;
    background-color: #fafafa;
}
hr{
    background-color: #94c5f9;
}
h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color: rgb(78, 138, 195);
  }
.content{
    margin: auto;
    max-width: 600px;
}

.title{
    font-size: 3cm;
}

.justify-center .column{
    display: flex;
    justify-content: center;
}

.is-family-secondary{
    font-family: 'Shrikhand', cursive;
    font-size: 6cm;
    font-weight: lighter;
}
img {
    height: 400px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(6, 0, 0, 0.16), 0 4px 8px rgba(0,0,0,0.23);
    min-width: 300px;
}

img:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.05);
}